<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<section class="module-cover parallax text-center" data-background="assets/images/module-10.jpg" data-overlay="1" data-gradient="1">
  <div class="container">
      <div class="row">
<div class="col-md-12">
  <div class="space" data-mY="60px"></div>
  <h1 class="demo-heading">Register for CueIt!</h1>
  <h3>Maximizes productivity by automating the most boring aspect of post production.</h3>
  <div class="space" data-MY="60px"></div>
</div>
</div>
</div>
</section>
{% endblock %}